/* 1. FONT SIZE */
/* 2. ROOTS */
/* 3. GLOBAL STYLES */

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/public-sans-v7-latin-100.woff2") format("woff2"),
       url("../fonts/public-sans-v7-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/public-sans-v7-latin-500.woff2") format("woff2"),
       url("../fonts/public-sans-v7-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/public-sans-v7-latin-regular.woff") format("woff");
}

:root {
  --light-green: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --green: #30C88F;
  --dark-blue: #2D314D;
  --dark-gray: #9597A5;
  --light-gray: #F4F5F7;
  --light-white: #F2F2F2;
  --white: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  margin-top: 80px;
  background-color: var(--light-white);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.request-link {
  text-decoration: none;
  padding: 8px 36px 8px 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  border-radius: 22px;
  display: inline-block;
  background-image: var(--light-green);
  color: var(--white);
}

.request-link:active {
  opacity: 0.4;
}

/* HEADER */

.site-header {
  padding: 18px 0;
  background-color: var(--white);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 140px;
  height: 20px;
}

.site-nav__list {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: 250px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.site-nav__item {
  margin-left: 30px;
}

.site-nav__item-active .site-nav__link {
  color: var(--dark-blue);
}

.site-nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  letter-spacing: -0.107692px;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-gray);
}

.site-nav__link:hover {
  color: var(--dark-blue);
}

.site-nav__link:hover::after,
.site-nav__item-active .site-nav__link::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: var(--light-green);
}

/* INTRO */

.intro {
  padding-top: 170px;
  padding-bottom: 140px;
  background-image: url("/img/intro-bg-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 590px) calc(50% - 80px);
  background-size: 1371px 956px;
  position: relative;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.intro-text__box {
  width: 450px;
}

.intro-heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--dark-blue);
}

.intro-text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--dark-gray);
}

.intro-img {
  position: absolute;
  top: -290px;
  right: -275px;
}

/* SERVICES */

.services {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-gray);
}

.services-heading {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.services-text {
  margin: 0;
  margin-bottom: 72px;
  width: 635px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--dark-gray);
}

.services-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-item {
  margin-right: 30px;
}

.services-item:last-child {
  margin: 0;
}

.services-item__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: var(--dark-blue);
}

.services-item__title::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.services-item:nth-child(1) .services-item__title::before {
  background-image: url("/img/online-banking.svg");
}

.services-item:nth-child(2) .services-item__title::before {
  background-image: url("/img/simple-budgeting.svg");
}

.services-item:nth-child(3) .services-item__title::before {
  background-image: url("/img/fast-onboard.svg");
}

.services-item:nth-child(4) .services-item__title::before {
  background-image: url("/img/open-api.svg");
}

.services-item__text {
  margin: 0;
  letter-spacing: -0.25px;
  color: var(--dark-gray);
}

/* ARTICLES */

.articles {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--light-white);
}

.articles-heading {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.articles-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-item {
  width: 255px;
  margin-right: 30px;
  background-color: var(--white);
}

.articles-item:last-child {
  margin: 0;
}

.article {
  border-radius: 5px;
}

.article-wrapper {
  padding: 24px;
}

.article-link {
  text-decoration: none;
  display: block;
}

.article-img {
  display: block;
  width: 255px;
  height: 200px;
}

.article-writer {
  margin: 0;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: var(--dark-gray);
}

.article-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: var(--dark-blue);
}

.article-text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: var(--dark-gray);
}